<div class="about-page">
    <h1>About Page</h1>
    <p>Jungle is an online store where you can find all of your favorite plants in one place! We make the process easy for you and deliver your plant right to you. Enjoy the convenience of stripe checkout and get your plants fast!</p>
</div>
